/* Media Query */
h1 {
    color: red;
}

@media screen and (max-width: 300px) {
    h1{
        color: blue;
    }
}

@media screen and (min-width: 500px) {
    h1{
        color: gold;
    }
}


/* Min Width */
p {
    background-color: green;
    color: brown;
}

@media screen and (min-width: 800px) {
    p {
        background-color: #789;
        color: #000;
    }
}

/* Landscape */
h3 {
    display: none;
}

@media screen and (orientation: landscape){
    h3 {
        display: block;
    }
}

/* Breakpoints utilizados em projetos profissionais:
Celular - 600px ou abaixo
Tablets - 600px até 768px
Laptops pequenos - 768px até 992px
Laptops e Desktops - 992px ou acima
*/